*

!/src
!/src/**/*

/src/test-mod/dst

!/doc
!/doc/**/*

!/.github
!/.github/**/*

!/.gitignore
!/.gitattributes
!/LICENSE
!/README.md
!/settings.gradle
!/build.gradle
!/gradle.properties
!/gradle
!/gradle/wrapper
!/gradle/wrapper/gradle-wrapper.properties